# Cloudinary Assets URLs
VITE_PROFILE_PHOTO_URL="https://res.cloudinary.com/..."
VITE_OG_IMAGE_URL="https://res.cloudinary.com/..."
VITE_RESUME_EN_URL="https://res.cloudinary.com/..."
VITE_RESUME_PT_BR_URL="https://res.cloudinary.com/..."
VITE_RESUME_FR_URL="https://res.cloudinary.com/..."
